@model BikeListViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BikeRentals</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">BIKE RENTAL</span>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            @foreach (var shop in Model.Shops)
            {
                <a class="btn btn-block btn-outline-secondary" asp-controller="Home" asp-action="Index" asp-route-currentStoreID="@shop.ID">@shop.City</a>
            }
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>