@model BikeListViewModel;
        @foreach (var p in Model.Bikes)
        {
            <partial name="BikeSummary" model="p" />
        }
    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-outline-dark" 
         class="btn-group pull-right m-1">
        <!--page-class-selected="btn-primary" page-url-category="atmodelcurrentshop" **put before previous class**-->

    </div>

